body {
    background-image: url("/media/photos/gryd025.jpg");
    text-align: center;
    font-family: Herculanum LT W04 Bold, sans-serif;
}

h1 {
    /*background-color: #7c819e;
    color: #a70c1d;*/
    color: #7c819e;
    text-align: center;
    font-family: "Herculanum LT W04 Bold";
    font-size: 5em;
    width: 50%;
    margin: 0 auto;
}

.explore {
    color: #7c819e;
    font-family: "Herculanum LT W04 Bold";
}

.quote {
    color: #7c819e;
    font-family: "Herculanum LT W04 Bold";
}

table {
    border-color: darkgray;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    float: left;
}

img {
    width: 20%;
    height: auto;
}