a {
    text-decoration: none;

}
body {
    background-image: url("/media/photos/gryd025.jpg");
    text-align: center;
    font-family: Herculanum LT W04 Bold, sans-serif;

}

h1 {
    /*background-color: #7c819e;*/
    /*color: #a70c1d;*/
    /*color: rgb(124, 129, 158);*/
    color: #5F78AB;
    text-align: center;
    font-family: "Herculanum LT W04 Bold";
    font-size: 6em;
    width: 50%;
    margin: 30px auto;
    /*text-shadow: 4px 3px 6px #FFEFC2B3;*/
}



.explore {
    font-family: "Herculanum LT W04 Bold";
    font-size: 1.9em;
}

.explore:visited {
    color: #5f78ab;
}

.quote {
    color: #7c819e;
    font-family: fantasy;
    font-size: 1.5em;
}

table {
    border-color: darkgray;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    float: left;
}

img {
    width: 20%;
    height: auto;
}

.container {
  background-image: url('/media/photos/season1promo.webp');
  /*background-color: #7c819e;
  background-blend-mode: screen;*/
}