body {
    background-color: #000000;
    text-align: center;
    font-family: monospace;
}

h1 {
    background-color: #7c819e;
    /*color: #a70c1d;*/
    text-align: center;
    font-family: "Herculanum LT W04 Bold";
    font-size: 5em;
    width: 50%;
    margin: 0 auto;
}

.explore {
    color: #7c819e;
    font-family: "Herculanum LT W04 Bold";
}

.quote {
    color: #7c819e;
    font-family: "Herculanum LT W04 Bold";
}