body {
    background-color: #000000;
    text-align: center;
    font-family: monospace;
}

h1 {
    background-color: #000000;
    color: ##a70c1d;
    text-align: center;
}

.explore {
    color: #7c819e;
    font-family: "Herculanum LT W04 Bold";
}

.quote {
    color: #7c819e;
    font-family: "Herculanum LT W04 Bold";
}